site_name: ia-frha
theme:
  name: material
  palette:
    scheme: slate # Modo oscuro
    primary: deep purple
  features:
    - navigation.sections
    - content.code.copy

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition 
  - pymdownx.details

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js